

{% if input_mysql_main  %}
[[inputs.mysql]]

  servers = ["{{ inputs_mysql.servers }}"]
  metric_version = {{inputs_mysql.metric_version}}
  name_prefix = "{{ inputs_mysql.name_prefix }}"
  table_schema_databases = ["{{ inputs_mysql.table_schema_databases }}"]
  gather_table_schema = {{ inputs_mysql.gather_table_schema }}
  gather_process_list = {{ inputs_mysql.gather_process_list }}
  gather_innodb_metrics = {{ inputs_mysql.gather_innodb_metrics }}
{% endif %}


{% if mysql_fieldpass %}
  fieldpass = [
  {% for item, con in inputs_mysql.fieldpass.iteritems() if con == true  %}
    "{{ item }}",
  {% endfor %}
  ]
{% endif %}

{% if mysql_namedrop %}
  namedrop = [
  {% for item, con in inputs_mysql.namedrop.iteritems() if con == true  %}
    "{{ item }}",
  {% endfor %}
    ]
{% endif %}

{% if input_exec_mysql  %}
[[inputs.exec]]
  commands = ["{{ inputs_exec.commands }}"]
  data_format = "{{ inputs_exec.data_format }}"
  name_prefix = "{{ inputs_exec.name_prefix }}"
  timeout = "{{ inputs_exec.timeout }}"
{% endif %}

{% if input_mysql_tagdrop  %}
[inputs.mysql.tagdrop]
  table = {{ inputs_mysql_tagdrop.table }}
{% endif %}
