
{% if outputs_opentsdb  %}
[[outputs.opentsdb]]
  host = "{{ outputs_opentsdb_body.host }}"
  http_batch_size = {{ outputs_opentsdb_body.http_batch_size }}
  http_path = "{{ outputs_opentsdb_body.http_path }}"
  port = {{ outputs_opentsdb_body.port }}
  separator = "{{ outputs_opentsdb_body.separator }} "
  tagexclude = "{{ outputs_opentsdb_body.tagexclude }} "
{% endif %}