
{% if inputs_disk  %}

[[inputs.disk]]
  fieldpass = [
  {% for item, con in inputs_disk_body.fieldpass.iteritems() if con == true %}
    "{{ item }}",
  {% endfor %}
  ]
  ignore_fs = [
  {% for item, con in inputs_disk_body.ignore_fs.iteritems() if con == true %}
    "{{ item }}",
  {% endfor %}
  ]
  name_prefix = "{{ inputs_disk_body.name_prefix }}"

{% endif %}
