[[inputs.disk]]
  fieldpass = ["inodes_total", "inodes_used", "total", "used_percent", "used", "free"]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
  name_prefix = "sys.BNPP.IACC_"
