[[outputs.prometheus_client]]
  ## Address to listen on.
  listen = "127.0.0.1:9273"
  metric_version = 2


# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics.
  collect_cpu_time = false

# Read metrics about memory usage
[[inputs.mem]]

[[inputs.exec]]

{% if ansible_os_family == "RedHat" and ansible_distribution_major_version == "8" %}
  commands = {{ command_rhel8 | to_json }}
{% else %}
  commands = {{ command_rhel | to_json }}
{% endif %}

  timeout = "5s"
  data_format = "json"
