[[outputs.prometheus_client]]
  ## Address to listen on.
  listen = "127.0.0.1:9273"
  metric_version = 2


[[inputs.exec]]

{% if ansible_os_family == "RedHat" and ansible_distribution_major_version == "8" %}
  commands = {{ command_rhel8 | to_json }}
{% else %}
  commands = {{ command_rhel | to_json }}
{% endif %}

  timeout = "5s"
  data_format = "json"
